/* src/assets/fonts/fonts.css */

@font-face {
    font-family: 'Cloud';
    src: url('./Cloud.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Kind Avenue';
    src: url('./Kind Avenue.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  