/* src/assets/fonts/fonts.css */

@font-face {
    font-family: 'Cloud';
    src: url('./Cloud.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Kind Avenue';
    src: url('./Kind Avenue.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'DMSerifDisplay-Regular';
    src: url('./DMSerifDisplay-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'DMSerifDisplay-Italic';
    src: url('./DMSerifDisplay-Italic.ttf') format('opentype');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'GeneralSans-Variable';
    src: url('./GeneralSans-Variable.ttf') format('opentype');
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'GeneralSans-VariableItalic';
    src: url('./GeneralSans-VariableItalic.ttf') format('opentype');
    font-weight: normal;
    font-style: italic;
  }